@import "./styles/colors";
.bg {
  background-color: $navbar;
  border-bottom: 6px solid ;
  border-image:  linear-gradient(to right,$gradientColor1, $gradientColor2) 30;
  width: 100%;
  box-shadow: none;
}
.navItem {
  width: 100%;
  border-radius: 0px;
  color: antiquewhite;
  border-right: 0.1em solid $nav-border;
  padding: 21px;
  padding-left: 35px;
  padding-right: 35px;
}


.register{
  margin:0px;
  padding-left: 35px;
  padding-right: 35px; 
  align-self: center;
}
.registerButton{
  background-image: $register;
}
.otherItems{
  color: antiquewhite;
}
.ShopIcon{
  display:flex;
}
