
.wholeCard{
    margin: 8px;
    box-shadow: 0 10px 18px rgba(255, 255, 255, 0.2), 0 15px 12px rgba(255, 255, 255, 0.1);

}
.wholeCard:hover {
    box-shadow: 0 14px 28px
rgba(255, 255, 255, 0.25), 0 10px 10px
rgba(255, 255, 255, 0.22);
}
.tittle {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    height: 500px;
    overflow: hidden;
    width:400px;
}

.card > figure {
    width: 80%;
    margin: 20px auto 0 auto;
}

.details {
    background-color: rgb(212, 204, 204);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 80%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 46%;
}

.details > .minDetails,
.details > .options,
.details > .options > .optionSize {
    margin-bottom: 10px;
}

.details > .minDetails {
    display: flex;
    justify-content: space-between;
}

.details > .minDetails > h1 > span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.details > .options h1 {
    margin-bottom: 5px;
}

.details > .options ul {
    list-style-type: none;
    display: flex;
}

.details > .options ul li {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}

.optionSize > ul > li {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: .7rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
}

.optionSize > ul > li:hover {
    background-color: #192a56;
}

.btn {
    background-color: #192a56;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
    transform .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}
