$random: rgba(30, 68, 112, 1);
$navbar: #0a0927;
$nav-border: rgba(44, 43, 43, 0.705);
$gradientColor1: #143e7d;
$gradientColor2: #c3122e;
$register: linear-gradient(to right, #901a18, #ca132c);
$registerBody: #181733;

$shopBgGradient1: radial-gradient(circle at center center, transparent,rgb(24,23,51)),repeating-linear-gradient(187deg, rgb(24,23,51) 0px, rgb(24,23,51) 2px,transparent 2px, transparent 10px,rgb(24,23,51) 10px, rgb(24,23,51) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(97deg, rgb(116,57,57) 0px, rgb(116,57,57) 4px,transparent 4px, transparent 8px),linear-gradient(142deg, rgb(24,23,51),rgb(24,23,51));
$shopBgGradient2: linear-gradient(293deg, transparent 0%, transparent 6%,rgba(71, 71, 71,0.04) 6%, rgba(71, 71, 71,0.04) 22%,transparent 22%, transparent 100%),linear-gradient(203deg, transparent 0%, transparent 20%,rgba(71, 71, 71,0.04) 20%, rgba(71, 71, 71,0.04) 47%,transparent 47%, transparent 100%),linear-gradient(293deg, transparent 0%, transparent 24%,rgba(71, 71, 71,0.04) 24%, rgba(71, 71, 71,0.04) 62%,transparent 62%, transparent 100%),linear-gradient(203deg, transparent 0%, transparent 73%,rgba(71, 71, 71,0.04) 73%, rgba(71, 71, 71,0.04) 75%,transparent 75%, transparent 100%),linear-gradient(248deg, rgb(221, 220, 220),rgb(230, 224, 224));
$playerAdd:linear-gradient(90deg, rgb(24,23,51) 0%,rgb(195,18,46) 100%);

